<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>🍕Disastro's Pizza</title>

</head>

<body class="p-4">
    <div th:replace="fragments/navbar :: navbar('create')"></div>

    <div class="pt-5">
        <h1>Crea una nuova pizza 🍕</h1>

        <form th:action="@{/index/create}" th:object="${pizza}" method="post">

            <div class="mb-3">
                <label for="nomePizza" class="form-label">Nome Pizza</label>
                <input type="text" th:field="*{nomePizza}" class="form-control" id="nomePizza" required>
            </div>

            <div class="mb-3">
                <label for="descrizione" class="form-label">Descrizione</label>
                <textarea th:field="*{descrizione}" class="form-control" id="descrizione" required></textarea>
            </div>

            <div class="mb-3">
                <label for="prezzo" class="form-label">Prezzo (€)</label>
                <input type="number" step="0.01" th:field="*{prezzo}" class="form-control" id="prezzo" required>
            </div>

            <div class="mb-3">
                <label for="foto" class="form-label">URL Immagine</label>
                <input type="text" th:field="*{foto}" class="form-control" id="foto">
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-danger" th:href="@{/index}">Cancel</a>
        </form>
    </div>

</body>

</html>