<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <title>🍕Disastro's Pizza</title>

</head>

<body>
    <!--Devo ricordarmi di mettere il path giusto se creo un file html e una cartella ogni i fragments-->
    <div th:replace="fragments/navbar :: navbar('index')"></div>
    <div></div>
    <div class="pt-5">
        <!--Inizio table-->
        <div th:fragment="table">
            <div class="container mt-4">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                        <h1>Lista delle pizze poco invitanti</h1>
                        <p>
                            Sei pronto a riempirti di colesterolo? Sei nel posto giusto!
                            Piatti da <strong>INFARTO</strong>
                        </p>
                    </div>

                    <a th:href="@{index/create}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Aggiungi Pizza
                    </a>
                </div>

                <table class="table table-dark table-striped table-hover mt-3">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrizione</th>
                            <th>Prezzo</th>
                            <th>Foto</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr th:if="${#lists.isEmpty(list)}">
                            <td colspan="5" class="text-center text-muted ">

                                <p class="text-white">Nessuna pizza trovata. 🍕</p>
                            </td>
                        </tr>

                        <tr th:each="pizza : ${list}">
                            <td th:text="${pizza.nomePizza}"></td>
                            <td th:text="${pizza.descrizione}"></td>

                            <td th:text="${pizza.prezzo}"></td>
                            <td>
                                <img th:src="${pizza.foto}" alt="Foto Pizza poco invitante" width="80"
                                    class="rounded shadow-sm" />
                            </td>
                            <td>
                                <a class="btn btn-outline-primary text-white"
                                    th:href="@{/index/show/{id}(id=${pizza.id})}">
                                    Dettagli
                                    <i class="fas fa-arrow-right"></i>
                                </a>

                                <a class="btn btn-outline-primary text-white"
                                    th:href="@{/index/edit/{id}(id=${pizza.id})}">
                                    Edit
                                    <i class="fas fa-pen"></i>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Fine table-->

    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>