<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design system recall</title>
</head>

<body>
    <!--Inizio Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navbar(current)">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">🍕Disastro's Pizza</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classAppend="${current == 'index'} ? 'active' : 'not-active'">Pizze</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classAppend="${current == 'show'} ? 'active' : 'not-active'>Aggiungi pizza</a>
                    </li>
                </ul>
                <form class=" d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Cerca pizza..."
                                aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">Cerca</button>
                            </form>
            </div>

        </div>
    </nav>


    <!--Fine navbar-->

    <!--Inizio footer-->
    <div th:fragment="footer">
        <footer class="bg-light text-center py-3">
            <span class="text-muted">© 2025 Simona Correale</span>
        </footer>
    </div>
    <!--Fine footer-->
</body>

</html>