<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Error</title>
</head>

<body>
    <div class="pt-5">
        <div class="container pt-5 text-center">

            <div th:replace="fragments/navbar :: navbar('error')"></div>

            <h2>Ci dispiace</h2>
            <!-- Error -->
            <h4 th:text="${errorCause}" class="mb-4"></h4>

            <!-- lottie file embed, centrato -->
            <div class="d-flex justify-content-center my-4">
                <lottie-player th:src="@{/404.json}" background="transparent" speed="1"
                    style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
            </div>

            <div class="mt-4 mb-4">
                <a th:href="@{'/index'}" class="btn btn-primary">Torna alla lista</a>
            </div>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>