<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>🍕Disastro's Pizza</title>

</head>

<body>
    <!--Devo ricordarmi di mettere il path giusto se creo un file html e una cartella ogni i fragments-->
    <div th:replace="fragments/fragments :: navbar"></div>

    <div class="pt-5">
    </div>

    <div th:replace="fragments/fragments :: table"></div>

    </div>

    <div th:replace="fragments/fragments :: footer"></div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>