<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <title>🍕Disastro's Pizza</title>

</head>

<body>
    <!--Devo ricordarmi di mettere il path giusto se creo una cartella per ogni fragments-->
    <div th:replace="fragments/header :: navbar"></div>

    <main>
        <h1>
            Benvenuto!
        </h1>
        <p> Sei pronto a riempirti di colesterolo? Sei nel posto giusto! Piatti da <strong>INFARTO</strong></p>
        <ul>
            <li th:each="pizza : ${list}">
                <span th:text="${pizza.nome}">Pizza Name</span>
            </li>
        </ul>

        <div>

        </div>
    </main>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>